/* Main Wrapper */
.hero-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Carousel Images */
.carousel-img {
  width: 100%;
  height: clamp(220px, 45vw, 520px);
  object-fit: cover;
}

/* Mobile */
@media (max-width: 576px) {
  .carousel-text {
    padding: 8px 14px;
    border-radius: 8px;
  }
}
/* Hide the default arrow backgrounds */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
}

/* Style the buttons */
.carousel-control-prev,
.carousel-control-next {
  text-decoration: none;
}

/* Optional hover */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  filter: brightness(1.3);
  color: black;
}
.carousel-control-prev::before {
  content: "‹";
  font-size: 100px;
  color: black;
}
.carousel-control-prev:hover::before {
  content: "‹";
  font-size: 100px;
  color: black;
}
.carousel-control-next::before {
  content: "›";
  font-size: 100px;
  color: black;
}
.carousel-control-next:hover::before {
  content: "›";
  font-size: 100px;
  color: black;
}
